@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

/* Reset default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Page styles */
body {
    font-family: 'Whisper', sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #ff6600;
}
